/vagrant/.vagrant

/docker/logs/
/docker/data
/docker/tmp/*
!docker/tmp/.gitkeep

/.idea

ui/coverage
ui/node_modules
ui/web/js/*
!ui/web/js/.gitkeep
ui/web/media/css
ui/web/media/fonts
ui/web/i18n
ui/web/views

.env
/web/bundles/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/coverage
/var/cache/*
/var/logs/*
/var/jwt
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/build/
/vendor/
/bin/*
!bin/aws
!bin/console
!bin/composer
!bin/php
!bin/start
!bin/stop
!bin/symfony_requirements
/composer.phar
