/vagrant/.vagrant

/docker/logs/
/docker/data
/docker/tmp/*
!docker/tmp/.gitkeep

/.idea

/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/coverage
/var/cache/*
/var/logs/*
/var/jwt
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/composer
!bin/php
!bin/start
!bin/stop
!bin/symfony_requirements
/composer.phar