default:
    calls:
        error_reporting: 16383 #ignore E_USER_DEPRECATED
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false
    suites:
        security:
            paths:
                features: %paths.base%/tests/features/security
            contexts:
                - behatch:rest
                - behatch:json
                - ScoreYa\Cinderella\Bundle\SecurityBundle\Tests\Behat\SecurityContext:
                    resultPool: @behatch.http_call.result_pool
                    fixtures:
                        - %paths.base%/tests/fixtures/security/User.yml
                - ScoreYa\Cinderella\Bundle\CoreBundle\Tests\Behat\RestContext
                - ScoreYa\Cinderella\Bundle\CoreBundle\Tests\Behat\SDKContext
                - Behat\MinkExtension\Context\MinkContext
            filters:
                tags: "@security"
        template:
            paths:
                features: %paths.base%/tests/features/template
                fixtures: %paths.base%/tests/fixtures/template
            contexts:
                - behatch:rest
                - behatch:json
                - ScoreYa\Cinderella\Bundle\TemplateBundle\Tests\Behat\TemplateContext:
                    resultPool: @behatch.http_call.result_pool
                    fixtures:
                        - %paths.base%/tests/fixtures/security/User.yml
                        - %paths.base%/tests/fixtures/template/ApiUser.yml
                        - %paths.base%/tests/fixtures/template/Template.yml
                - ScoreYa\Cinderella\Bundle\SecurityBundle\Tests\Behat\SecurityContext
                - ScoreYa\Cinderella\Bundle\CoreBundle\Tests\Behat\RestContext
                - Behat\MinkExtension\Context\MinkContext
            filters:
                tags: "@template"
        user:
            paths:
                features: %paths.base%/tests/features/user
                fixtures: %paths.base%/tests/fixtures/user
            contexts:
                - behatch:rest
                - behatch:json
                - ScoreYa\Cinderella\Bundle\UserBundle\Tests\Behat\UserContext:
                    resultPool: @behatch.http_call.result_pool
                    fixtures:
                        - %paths.base%/tests/fixtures/security/User.yml
                - ScoreYa\Cinderella\Bundle\SecurityBundle\Tests\Behat\SecurityContext
                - ScoreYa\Cinderella\Bundle\CoreBundle\Tests\Behat\RestContext
                - Behat\MinkExtension\Context\MinkContext
            filters:
                tags: "@user"

    extensions:
        Sanpi\Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
            base_url: "https://cinderella.local/api/"
            show_auto:    false
        Behat\Symfony2Extension:
            kernel:
                bootstrap: %paths.base%/var/bootstrap.php.cache

apiary:
    extensions:
        Behat\MinkExtension:
            base_url: "http://private-09e91-cinderella.apiary-mock.com"
            goutte: ~
            default_session: goutte