parameters:
    database_name: cinderella
    database_server: host
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_port: 1025
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    private_key.pass_phrase: pass_phrase
    cinderella_api_key: apiKey
    cinderella_api_url: url
    verify_ssl: true
