<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 data">
        <h3 translate="security.form.registration.header"></h3>

        <form class="form" id="formRegistration" name="form" novalidate>
            <div class="form-group" ng-class="{'has-error': form.email.$error.validator}">
                <input type="email" class="form-control" autofocus ng-model="registrationVm.user.email" required
                       name="email" placeholder="{{ 'security.form.email.placeholder' | translate}}"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="plainPassword"
                       placeholder="{{ 'security.form.password.placeholder'| translate}}"
                       ng-model="registrationVm.user.plainPassword" required />
            </div>
            <div class="form-group" ng-class="{'has-error': form.repeatedPlainPassword.$error.validator}">
                <input type="password" class="form-control" name="repeatedPlainPassword"
                       placeholder="{{ 'security.form.repeatedPassword.placeholder'| translate}}"
                       ng-model="registrationVm.user.repeatedPlainPassword" required
                       ui-validate=" '$value==registrationVm.user.plainPassword' "
                       ui-validate-watch=" 'registrationVm.user.plainPassword' "/>
                <span class="help-block" ng-show="form.repeatedPlainPassword.$error.validator"
                      translate="security.form.repeatedPlainPassword.error"></span>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <button ng-click="registrationVm.register()" ng-disabled="form.$invalid"
                            translate="security.form.register.label" class="btn btn-primary">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>