<li>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input class="form-control" type="text" value="{{vm.template.name}}" ng-model="vm.template.name" />
        </div>
    </form>
</li>
<li>
    <a ng-click="vm.save()">
        <i class="fa fa-save"></i><span translate="template.save"></span>
    </a>
</li>
<li>
    <a ng-click="vm.copy()">
        <i class="fa fa-copy"></i><span translate="template.copy"></span>
    </a>
</li>

<li>
    <a ng-click="vm.delete()">
        <i class="fa fa-remove"></i><span translate="template.delete"></span>
    </a>
</li>