<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 data">
        <h3 translate="security.form.login.header"></h3>

        <p translate="security.form.login.msg"></p>

        <form class="form" id="formLogin" name="form" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" autofocus ng-model="loginVm.loginData.email" required
                       name="email" placeholder="{{ 'security.form.email.placeholder' | translate}}"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password"
                       placeholder="{{ 'security.form.password.placeholder'| translate}}"
                       ng-model="loginVm.loginData.password" required>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <button ng-click="loginVm.login()" ng-disabled="form.$invalid"
                            translate="security.form.login.label" class="btn btn-primary">
                    </button>
                </div>
                <div class="col-sm-6 col-md-6"><p class="help-block"><a
                        ui-sref="security.request_password"
                        class="btn btn-link" translate="security.form.forgot_password.label">
                </a></p>
                </div>
            </div>
        </form>
    </div>
</div>